javaparser-symbol-solver-model filter=lfs diff=lfs merge=lfs -text
javaparser-core-testing filter=lfs diff=lfs merge=lfs -text
javaparser-core-serialization filter=lfs diff=lfs merge=lfs -text
javaparser-symbol-solver-testing filter=lfs diff=lfs merge=lfs -text
LICENSE.LGPL filter=lfs diff=lfs merge=lfs -text
changelog.md filter=lfs diff=lfs merge=lfs -text
fixup.sh filter=lfs diff=lfs merge=lfs -text
javaparser-core filter=lfs diff=lfs merge=lfs -text
javaparser-symbol-solver-logic filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
javaparser-core-generators filter=lfs diff=lfs merge=lfs -text
javaparser-core-testing-bdd filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
PULL_REQUEST_TEMPLATE.md filter=lfs diff=lfs merge=lfs -text
dev-files filter=lfs diff=lfs merge=lfs -text
run_core_metamodel_generator.sh filter=lfs diff=lfs merge=lfs -text
LICENSE.APACHE filter=lfs diff=lfs merge=lfs -text
javaparser-symbol-solver-core filter=lfs diff=lfs merge=lfs -text
LICENSE.GPL filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
javaparser-core-metamodel-generator filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
run_core_generators.sh filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
appveyor.yml filter=lfs diff=lfs merge=lfs -text
pom.xml filter=lfs diff=lfs merge=lfs -text
readme.md filter=lfs diff=lfs merge=lfs -text
ruleset.xml filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
